/Recruiter.Application/bin/Debug/net6.0/Recruiter.Application.dll
/Recruiter.Application/bin/Debug/net6.0/Recruiter.Application.pdb
/Recruiter.Application/obj/Debug/net6.0/Recruiter.Application.csproj.CoreCompileInputs.cache
/Recruiter.Application/obj/Debug/net6.0/Recruiter.Application.dll
/Recruiter.Application/obj/Debug/net6.0/Recruiter.Application.pdb
/Recruiter.Application/obj/Debug/net6.0/ref/Recruiter.Application.dll
/Recruiter.Application/obj/Debug/net6.0/refint/Recruiter.Application.dll
